
---
;
const { order, title } = Astro.props;
---

<div class="mb-2 flex w-full" id={`titleContainer-${order}`} data-order={order}>
  <div class="inline-block">
    <h2 class="font-bold blogTitle" id={`blogTitle-${order}`}>
      {title}
    </h2>
  </div>
</div>

<script>

  import { annotate } from "rough-notation";
  import type { RoughAnnotation } from "rough-notation/lib/model";

  function initializeHighlight(element: HTMLElement) {
    const order = element.getAttribute("data-order");
    const titleContainer = document.getElementById(`titleContainer-${order}`);
    const blogTitle = document.getElementById(`blogTitle-${order}`);

    let annotation: RoughAnnotation | undefined = undefined;

    if (titleContainer && blogTitle) {
      annotation = annotate(blogTitle, { type: "highlight", color: "#d4579a" });
    }

    // show/hide highlight on hover
    if (annotation && titleContainer) {
      titleContainer.addEventListener("mouseenter", () => annotation!.show());
      titleContainer.addEventListener("mouseleave", () => annotation!.hide());
    }
  }

  const elements = document.querySelectorAll("[data-order]");
  elements.forEach((element) => initializeHighlight(element as HTMLElement));
</script>