---
import BlogContainerEntryTitle from "./BlogContainerEntryTitle.astro";
import { getCollection } from 'astro:content';
import { getTimeSince } from '../utils/getTimeSince';

const allBlogPosts = await getCollection('blog');
---
<div class="flex flex-col gap-12 mt-6">
{
  allBlogPosts.reverse().map((post, index) => {
    return (
      <div>
        <a href={`/blog/${post.slug}`}>
          <article>
            <div class="flex text-base mb-2">
              <time>{getTimeSince(post.data.pubDate)}</time>
              <div class="mx-2.5">·</div>
              <p>{post.data.readingTime} min read</p>
            </div>
            <BlogContainerEntryTitle order={index} title={post.data.title} />
            <p class="text-lg">
              {post.data.description}
            </p>
          </article>
        </a>
      </div>
    )}
  )
}
</div>